{% extends 'base.html.twig' %}
{% block head %}
{% endblock %}

{% block title %}Spotify Clone{% endblock %}
{% block body %}
<main>
        {% if app.user %}
        <div id="dropdown1" class="dropdown">
            <ul>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </div>
        {% endif %}

     {% if not app.user %}
        {% if results is not empty %}
        <div id="artists-popular">
            <h2 class="title-searches">Artistas Populares</h2>
            <ul id="artists-list-populars">
                {% for artist in results %}
                {% set image = artist.images | length != 0 ? artist.images[0].url :  asset("img/defectImg.svg") %}
                <li class="artist" data-id="{{ artist.id }}">
                    <div class="artist-img-back">
                        <img data-src="{{ image }}" alt="{{ artist.name }}" class="artist-img lazy-load">
                    </div>
                    <p class="">{{ artist.name }}</p>
                    <p>Artista</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if albums is not empty %}
            <div id="albums-popular">
                <h2 class="title-searches">Nuevos Albumes</h2>
                <ul id="albums-list-populars">
                    {% for album in albums %}
                        {% set image = album.images | length != 0 ? album.images[0].url :  asset("img/defectImg.svg") %}
                        <li class="album" data-id="{{ album.id }}">
                            <div class="album-img-back">
                                <img data-src="{{ image }}" alt="{{ album.name }}" class="album-img lazy-load">
                            </div>
                            <p class="">{{ album.name }}</p>
                            <p>{{ album.artists[0].name }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
        <ul id="songs">
        </ul>
</main>
{% endblock %}
