{% extends 'base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('CSS/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/login.css') }}">
    <script src="{{ asset('JS/app.js') }}" type="module"></script>
    <script src="{{ asset('JS/login.js') }}"></script>
{% endblock %}

{% block title %}Spotify Clone{% endblock %}
{% block body %}
<div id="containerLogin">
    <img src="{{ asset('img/spotifyWhite.svg')}}" id="logo">
    <div id="inputContainer">
        <img src="{{ asset('img/search.svg') }}" id="search-icon">
        <input type="text" name="search" id="search" placeholder="¿Que quieres reproducir?">
    </div>
    {% if app.user %}
<img src="{{ imagen }}" alt="Profile pic {{ app.user.email }}" class="profile-pic" data-dropdown="#dropdown1">
{% else %}
    <button id="login">Iniciar Sesión</button>
{% endif %}
</div>
<div id="app">
    <aside>
        <div id="hamburguer">
            <svg width="40" height="40" viewBox="0 0 100 80" fill="white" xmlns="http://www.w3.org/2000/svg">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
            </svg>
        </div>
        <nav>
            <div id="menu" class="hidden">
                <ul>
                    <li><a href="/"> <svg role="img" height="24" width="24" aria-hidden="true" viewBox="0 0 24 24" fill="currentColor"
                            ><path
                                        d="M12.5 3.247a1 1 0 0 0-1 0L4 7.577V20h4.5v-6a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v6H20V7.577l-7.5-4.33zm-2-1.732a3 3 0 0 1 3 0l7.5 4.33a2 2 0 0 1 1 1.732V21a1 1 0 0 1-1 1h-6.5a1 1 0 0 1-1-1v-6h-3v6a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.577a2 2 0 0 1 1-1.732l7.5-4.33z"
                                ></path></svg> Home</a></li>
                    <li><a href="/"><svg
                                    role="img"
                                    height="24"
                                    width="24"
                                    aria-hidden="true"
                                    viewBox="0 0 24 24"
                                    fill="currentColor"
                            ><path
                                        d="M10.533 1.279c-5.18 0-9.407 4.14-9.407 9.279s4.226 9.279 9.407 9.279c2.234 0 4.29-.77 5.907-2.058l4.353 4.353a1 1 0 1 0 1.414-1.414l-4.344-4.344a9.157 9.157 0 0 0 2.077-5.816c0-5.14-4.226-9.28-9.407-9.28zm-7.407 9.279c0-4.006 3.302-7.28 7.407-7.28s7.407 3.274 7.407 7.28-3.302 7.279-7.407 7.279-7.407-3.273-7.407-7.28z"
                                ></path></svg>Search</a></li>
                </ul>
            </div>
        </nav>

        <div id="library" class="hidden">
            <ul>
                <li><a href="/"><svg role="img" height="24" width="24" aria-hidden="true" viewBox="0 0 24 24" fill="currentColor"
                        ><path
                                    d="M3 22a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v18a1 1 0 0 1-1 1zM15.5 2.134A1 1 0 0 0 14 3v18a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V6.464a1 1 0 0 0-.5-.866l-6-3.464zM9 2a1 1 0 0 0-1 1v18a1 1 0 1 0 2 0V3a1 1 0 0 0-1-1z"
                            ></path></svg>Your Library</a></li>
            </ul>
            <ul id="playlists">
            </ul>
        </div>
    </aside>
    <main>
        {% if app.user %}
        <div id="dropdown1" class="dropdown">
            <ul>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </div>
        {% endif %}
        <ul id="songs">
        </ul>
    </main>

    <footer>
        <div>

            <div id="song-card">
                <div>
                </div>
            </div>
            <button id="player">
                <svg viewBox="0 0 24 24" class="h-8 w-8" fill="currentColor">
                    <path id="play-svg" fill="currentColor" d="M8 5.14v14l11-7-11-7z"></path>
                </svg>
            </button>
            <div id="slideController">
                <span id="tiempoRecorrido">0:00</span>
                <input type="range" id="slider" min="0" max="100" value="0">
                <span id="tiempoTotal">3:20</span>
            </div>

            <canvas id="equalizer" width="100" height="60"></canvas>
        </div>
    </footer>
   <div id="menuMobile">
        <ul id="menuMobileList">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Your Library</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
